@font-face {
    font-family: 'Dana';
    src: url('../fonts/dana-light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Dana';
    src: url('../fonts/dana-regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Dana';
    src: url('../fonts/dana-medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Dana';
    src: url('../fonts/dana-demibold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Dana';
    src: url('../fonts/dana-bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Dana';
    src: url('../fonts/dana-extrabold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Dana';
    src: url('../fonts/dana-black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* پالت رنگی */
:root {
    --green: #92FE9D;
    --cyan: #00C9FF;
    --dark: #0f0f0f;
    --light: #ffffff;
}

body {
    font-family: 'Dana', sans-serif;
    background-color: #92FE9D;
    color: #0f0f0f;
    direction: rtl;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: block;
}

header {
    background: linear-gradient(
    #00C9FF 80%,
    #92FE9D 100%);
    padding: 30px;
    color: #000;
    position: fixed;
    width: 100%;
    height: 320px;
}

header h1 {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 700;
}

nav ul {
    gap: 40px;
    margin-top: 20px;
    padding: 0;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover {
    color: #92FE9D;
    text-decoration: underline;
}

main {
    padding-top: 360px;
    padding-right: 40px;
    padding-left: 40px;
    min-height: calc(100vh - 147.9px);
    width: 100%;
}

main a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.about-link1 :hover {
    color: #00C9FF;
    text-decoration: underline;
}

.about-link2 :hover {
    color: #00C9FF;
    text-decoration: underline;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid #00C9FF;
}

footer {
    background: linear-gradient(
    #92FE9D 10%,
    #00C9FF 70%);
    color:#0f0f0f;
    text-align: center;
    padding-top: 40px;
    margin-top: 50px;
    padding-bottom: 2%;
    width: 100%;
}

footer a {
    color: #000;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100px;
}

.social-links a {
    width: 70px;
    height: 70px;
    background: white;
    display: inline-block;
    vertical-align: top;
    border-radius: 100%;
    padding-top: -24px;
    padding-left: -24px;
}

.social-links img {
    width: 42px;
    height: 42px;
    margin-top: 14px;
    margin-left: 0px;
    filter: grayscale(100%);
}

/* وقتی هاور میشه، آیکون رنگی بشه */
a.telegram:hover img { filter: none; }
a.whatsapp:hover img { filter: none; }
a.eitaa:hover img   { filter: none; }



/* اختیاری: کمی بزرگ‌تر شدن آیکون موقع هاور */
.social-links a:hover img {
    transform: scale(1.5);
}